.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: rgb(139, 194, 199);
}

.search {
  display: flex;
  margin-top: 60px;
}

.searchTerm {
  width: 200px;
  width: 100%;
  border: none;
  padding: 5px 8px;
  height: 24px;
  font-size: large;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #151515;
}

.searchButton {
  width: 36px;
  height: 36px;
  border: none;
  background: #00B4CC;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.main {
  margin: auto;
  font-size: larger;
}

.display-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  position: fixed;
  bottom: 20px;
}

p {
  background-color: #292b36;
  color: #fff;
  margin: 0;
  border-radius: 10px;
  padding: 15px 20px;
}